@model IEnumerable<BooksLibrary.Models.BookLoan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="BookLoans" asp-action="Search" method="post">
    <div class="form-group">
        <label for="searchTerm">Search for Customer:</label>
        <select id="searchTerm" name="searchTerm" class="form-control" onchange="this.form.submit()">
            <option value="">Select Customer</option>
            @foreach (var customer in ViewBag.Customers)
            {
                <option value="@customer.CustomerId">@customer.Name</option>
            }
        </select>
    </div>
</form>
<div>
    <a asp-action="Index" class="btn btn-dark">Show All</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReturned)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReturned)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookLoanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookLoanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookLoanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
